:host() {
  height: 100vh;
  display: flex;
  flex-direction: row;

  .toolbar {
    height: 100%;
  }

  .content {
    padding: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
